.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.backButton {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.title {
    font-size: 24px;
    margin: 0,
}